<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section>
      <Strong>User List Page</Strong>

      <div>
        <h1><%= user.name %></h1>
        <h2><%= user.email %></h2>
        <h5><%= user.age %></h5>
        <p><%= user.bio %></p>
        <a href="/users/<%= user._id  %> /update">Edit</a>
        <a href="/users/<%= user._id  %> /delete">Delete</a>
      </div>
    </section>
  </body>
</html>
